.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2% 20% 5% auto 2%;
    grid-template-rows: 2% 5% 60% 2% 5%;
}

.header {
    margin: 0;
    grid-row: 2;
    grid-column: 4;
}

.order-container {
    grid-column: 2;
    grid-row: 3 / span 2;
    border-radius: 15px;
    border: 3px solid lightgray;
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
    position: sticky;
    top: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
}

.order-display {
    grid-column: 2;
    grid-row: 3;
    display: table;
    height: auto;
    width: auto;
    padding: 5px;
}

.display-row {
    padding: 10px;
    display: table-row;
    height: 50px;
}

.display-cell {
    display: table-cell;
    vertical-align: center;
    width: 75px;
}

.order-info {
    border: 2px solid lightgray;
    margin-top: auto;
    position: sticky;
    bottom: 0;
    background-color: white;
}

.table-container {
    grid-column: 4;
    grid-row: 3;
    height: 100%;
    overflow: auto;
    border: 3px gray solid;
    border-radius: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.item-table {
    display: table;
    height: auto;
    width: auto;
}

.table-row {
    display: table-row;
}


.table-header {
    width: 200px;
    height: 35px;
    display: table-cell;
    border: 1px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    vertical-align: middle;
    position: sticky;
    top: 0;
    background-color: white;
    font-size: larger;
}

.cell {
    display: table-cell;
    border: 1px solid lightgray;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.num-input {
    width: 75px;
}

.add-item {
    grid-column: 4;
    grid-row: 5;
    border: 2px solid lightgray;
    border-radius: 15px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-order {
    position: sticky;
    bottom: 0;
    margin: 2px;
}

input {
    vertical-align: middle;
    margin: 5px;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    border: 1px gray solid;
}

.order-total {
    float: right;
}

